.wrapper{ 
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(100px,auto)
    
}
li{display: grid;
grid-template-columns: 20% 80%;

}
ul{
    list-style-type: none; display: grid;
    grid-template-rows: repeat(8,25px);}
#outer{ position: absolute;
    width: 100%;
    text-align: center;
    left:20%;
    
}
#inner{display: inline-block;
position: relative;
top: 30vh;}
.bigger{
    display: grid;
    grid-template-rows: 100px 70px 100px;
}
small{position: relative;
bottom: 17px;}
.add{
    background-color: blue;
    text-align: center;
    height: 20px;
    width: 85px;
    margin-left: 70px;
    border-radius: 5px;
font-size: bold;}
.top{
    height: 8vh;
    background-color: blue;
    width: 100%;
}

.circle{border:1px solid rgb(146, 144, 140) ;
    margin-left: 30px; width: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 20px;
    display: grid;
    grid-template-columns: 3px 15px 40px;
text-align: center;}
.square{ display: inline-block;
    width: 47px;
    height: 47px;
    background-color: rgb(119, 94, 228) ;
    position: relative;
    top: 15px;
    left: 7px;
}
.line{position: relative;
    display: grid;
    grid-template-rows: 5px 5px 5px 5px;
top: 22px;
left: 10px;
row-gap: 5px;}
.firstline{
    background-color:  rgb(119, 94, 228);
    height: 60%;
}

.secondline{
    background-color: rgb(194, 21, 30);
    height: 60%;
}

.thirdline{
    background-color: rgb(27, 214, 136);
    height: 60%;
}

.fourthline{
    background-color: rgb(213, 226, 35);
    height: 60%;
}
.dot{
    display: grid;
    grid-template-rows: 5px 5px 5px 5px 5px;
row-gap: 5px;
position: relative;
top: 19px;
left: 5px;}
.first_dot{
    height: 8px;
    width: 8px;
    background-color: rgb(119, 94, 228);
    border-radius: 50%;
}
.second_dot{
    height: 8px;
    width: 8px;
    background-color: rgb(119, 94, 228);
    border-radius: 50%;
}

.third_dot{
    height: 8px;
    width: 8px;
    background-color: rgb(119, 94, 228);
    border-radius: 50%;
}

.fourth_dot{
    height: 8px;
    width: 8px;
    background-color: rgb(119, 94, 228);
    border-radius: 50%;
}
