.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(100px,auto)
    
}
li{display: grid;
grid-template-columns: 1fr 5fr;}
ul{
    list-style-type: none; display: grid;
    grid-template-rows: repeat(8,25px);
}
#outer{
    width: 100%;
    text-align: center;
}
#inner{display: inline-block; height: 50vh;}
